Repository Lukeus/my-context-kit, changes with the labels that .github/labeler.yml gives for each.
All labels: app, context-repo, documentation, ci/cd, configuration, tests, frontend, backend, dependencies

fix: Add jsdom dependency for Vitest unit tests
  app/package.json
Labels: app, configuration, dependencies

fix: Add jsdom dependency for Vitest unit tests
  app/package.json
Labels: app, configuration, dependencies

chore: Update pnpm lockfile for jsdom dependency
  pnpm-lock.yaml
Labels: configuration, dependencies

chore: Update pnpm lockfile for jsdom dependency
  pnpm-lock.yaml
Labels: configuration, dependencies

fix: Add missing ESLint and pnpm configuration for CI
  app/.npmrc
  app/package.json
  pnpm-lock.yaml
Labels: app, configuration, dependencies

fix: Add missing ESLint and pnpm configuration for CI
  app/.npmrc
  app/package.json
  pnpm-lock.yaml
Labels: app, configuration, dependencies

fix: Remove invalid format check from CI workflow
  .github/workflows/ci.yml
Labels: ci/cd, configuration

fix: Remove invalid format check from CI workflow
  .github/workflows/ci.yml
Labels: ci/cd, configuration

fix: resolve all test failures and lint errors
  app/tests/components/ApprovalDialog.spec.ts
  app/tests/services/AIService.spec.ts
  app/tests/services/RepoService.spec.ts
  app/tests/services/SpeckitService.spec.ts
  app/tests/services/agentProfileService.spec.ts
  app/tests/setup.ts
Labels: app, tests

fix: resolve all test failures and lint errors
  app/tests/components/ApprovalDialog.spec.ts
  app/tests/services/AIService.spec.ts
  app/tests/services/RepoService.spec.ts
  app/tests/services/SpeckitService.spec.ts
  app/tests/services/agentProfileService.spec.ts
  app/tests/setup.ts
Labels: app, tests

fix: upgrade to vitest 4 and vite 7, fix all test mocks for vitest 4 compatibility
  app/package.json
  app/src/main/services/context-builder.service.test.ts
  app/tests/services/AIService.spec.ts
  app/tests/services/SpeckitService.spec.ts
  app/tests/services/agentProfileService.spec.ts
  app/tests/services/providers/azureClient.spec.ts
  package.json
  pnpm-lock.yaml
Labels: app, configuration, tests, backend, dependencies

fix: upgrade to vitest 4 and vite 7, fix all test mocks for vitest 4 compatibility
  app/package.json
  app/src/main/services/context-builder.service.test.ts
  app/tests/services/AIService.spec.ts
  app/tests/services/SpeckitService.spec.ts
  app/tests/services/agentProfileService.spec.ts
  app/tests/services/providers/azureClient.spec.ts
  package.json
  pnpm-lock.yaml
Labels: app, configuration, tests, backend, dependencies

fix: enable CodeQL workflow to satisfy repository ruleset requirements
  .github/workflows/security.yml
Labels: ci/cd, configuration

fix: enable CodeQL workflow to satisfy repository ruleset requirements
  .github/workflows/security.yml
Labels: ci/cd, configuration

fix: handle TruffleHog scan when base and head commits are identical
  .github/workflows/security.yml
Labels: ci/cd, configuration

fix: handle TruffleHog scan when base and head commits are identical
  .github/workflows/security.yml
Labels: ci/cd, configuration

fix: update ossf/scorecard-action to valid release tag v2.4.0
  .github/workflows/security.yml
Labels: ci/cd, configuration

fix: update ossf/scorecard-action to valid release tag v2.4.0
  .github/workflows/security.yml
Labels: ci/cd, configuration

fix: remove global env variables from security workflow to satisfy OpenSSF Scorecard
  .github/workflows/security.yml
Labels: ci/cd, configuration

fix: remove global env variables from security workflow to satisfy OpenSSF Scorecard
  .github/workflows/security.yml
Labels: ci/cd, configuration

fix: move write permissions from global to job level for OpenSSF Scorecard compliance
  .github/workflows/security.yml
Labels: ci/cd, configuration

fix: move write permissions from global to job level for OpenSSF Scorecard compliance
  .github/workflows/security.yml
Labels: ci/cd, configuration

fix: prevent script injection in CI workflow by using environment variables
  .github/workflows/ci.yml
Labels: ci/cd, configuration

fix: prevent script injection in CI workflow by using environment variables
  .github/workflows/ci.yml
Labels: ci/cd, configuration

fix: prevent script injection in CI workflow by using environment variables
  .github/workflows/ci.yml
Labels: ci/cd, configuration

fix: prevent script injection in CI workflow by using environment variables
  .github/workflows/ci.yml
Labels: ci/cd, configuration

fix: correct artifact upload path to handle filenames with spaces
  .github/workflows/ci.yml
Labels: ci/cd, configuration

fix: correct artifact upload path to handle filenames with spaces
  .github/workflows/ci.yml
Labels: ci/cd, configuration

fix: address multiple security issues - TOCTOU, workflow permissions, add security policy
  .github/workflows/cd.yml
  .github/workflows/release.yml
  SECURITY.md
  app/src/main/services/tools/readContextFile.ts
Labels: app, documentation, ci/cd, configuration, backend

fix: address multiple security issues - TOCTOU, workflow permissions, add security policy
  .github/workflows/cd.yml
  .github/workflows/release.yml
  SECURITY.md
  app/src/main/services/tools/readContextFile.ts
Labels: app, documentation, ci/cd, configuration, backend

fix: resolve repoRoot realpath for consistent TOCTOU protection on all platforms
  app/src/main/services/tools/readContextFile.ts
Labels: app, backend

fix: resolve repoRoot realpath for consistent TOCTOU protection on all platforms
  app/src/main/services/tools/readContextFile.ts
Labels: app, backend

fix: use file handles to completely eliminate TOCTOU vulnerability
  app/src/main/services/tools/readContextFile.ts
Labels: app, backend

fix: use file handles to completely eliminate TOCTOU vulnerability
  app/src/main/services/tools/readContextFile.ts
Labels: app, backend

fix: use glob patterns for Windows release artifacts to handle filenames with spaces
  .github/workflows/release.yml
Labels: ci/cd, configuration

fix: use glob patterns for Windows release artifacts to handle filenames with spaces
  .github/workflows/release.yml
Labels: ci/cd, configuration

feat: Add RAG (Retrieval-Augmented Generation) integration
  app/src/main/ipc/handlers/langchain-ai.handlers.ts
  app/src/main/ipc/handlers/rag.handlers.ts
  app/src/main/ipc/register.ts
  app/src/main/preload.ts
  app/src/main/schemas/entitySchemas.ts
  app/src/main/services/ContextEmbeddingService.ts
  app/src/main/services/ContextRAGService.ts
  app/src/main/services/ContextService.ts
  app/src/main/services/LangChainAIService.ts
  app/src/renderer/components/AIAssistantPanel.vue
  app/src/renderer/components/AISettingsModal.vue
  app/src/renderer/components/rag/RAGSettingsPanel.vue
  app/src/renderer/components/rag/RAGSourcesPanel.vue
  app/src/renderer/stores/ragStore.ts
Labels: app, frontend, backend

feat: Add RAG (Retrieval-Augmented Generation) integration
  app/src/main/ipc/handlers/langchain-ai.handlers.ts
  app/src/main/ipc/handlers/rag.handlers.ts
  app/src/main/ipc/register.ts
  app/src/main/preload.ts
  app/src/main/schemas/entitySchemas.ts
  app/src/main/services/ContextEmbeddingService.ts
  app/src/main/services/ContextRAGService.ts
  app/src/main/services/ContextService.ts
  app/src/main/services/LangChainAIService.ts
  app/src/renderer/components/AIAssistantPanel.vue
  app/src/renderer/components/AISettingsModal.vue
  app/src/renderer/components/rag/RAGSettingsPanel.vue
  app/src/renderer/components/rag/RAGSourcesPanel.vue
  app/src/renderer/stores/ragStore.ts
Labels: app, frontend, backend

fix: Correct zod version to stable 3.x
  app/package.json
Labels: app, configuration, dependencies

fix: Correct zod version to stable 3.x
  app/package.json
Labels: app, configuration, dependencies

.github/labeler.yml:

# Label PRs based on changed files
# Configuration for actions/labeler@v5

app:
- changed-files:
  - any-glob-to-any-file: 'app/**'

context-repo:
- changed-files:
  - any-glob-to-any-file: 'context-repo/**'

documentation:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - 'docs/**'

'ci/cd':
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**'
    - '.github/**/*.yml'

configuration:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.json'
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.config.*'
    - '**/tsconfig*.json'
    - '**/.eslintrc*'
    - '**/package.json'

tests:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.test.*'
    - '**/*.spec.*'
    - 'app/tests/**'
    - 'app/e2e/**'

frontend:
- changed-files:
  - any-glob-to-any-file:
    - 'app/src/renderer/**'
    - '**/*.vue'
    - '**/*.css'

backend:
- changed-files:
  - any-glob-to-any-file:
    - 'app/src/main/**'
    - 'app/src/preload/**'

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - '**/package.json'
    - '**/pnpm-lock.yaml'
