Repository Lukeus/my-context-kit, changes with the labels that .github/labeler.yml gives for each.
All labels: app, context-repo, documentation, ci/cd, configuration, tests, frontend, backend, dependencies

revert: Restore original zod version
  app/package.json
Labels: app, configuration, dependencies

revert: Restore original zod version
  app/package.json
Labels: app, configuration, dependencies

chore: Update lockfiles for LangChain dependencies
  app/pnpm-lock.yaml
  pnpm-lock.yaml
Labels: app, configuration, dependencies

chore: Update lockfiles for LangChain dependencies
  app/pnpm-lock.yaml
  pnpm-lock.yaml
Labels: app, configuration, dependencies

fix: Update security.yml for root-level pnpm-lock.yaml
  .github/workflows/security.yml
Labels: ci/cd, configuration

fix: Update security.yml for root-level pnpm-lock.yaml
  .github/workflows/security.yml
Labels: ci/cd, configuration

fix: Update ci.yml for root-level pnpm-lock.yaml
  .github/workflows/ci.yml
Labels: ci/cd, configuration

fix: Update ci.yml for root-level pnpm-lock.yaml
  .github/workflows/ci.yml
Labels: ci/cd, configuration

fix: Update ci.yml for root-level pnpm-lock.yaml
  .github/workflows/ci.yml
  CODE_REVIEW_SUMMARY.md
  LANGCHAIN_STATUS.md
  PHASE_1_COMPLETE.md
  PHASE_2_COMPLETE.md
  PHASE_2_PROGRESS.md
  PHASE_2_VERIFICATION.md
  app/package-lock.json
  app/src/renderer/App.vue
  app/src/renderer/components/ContextBuilderModal.vue
  app/src/renderer/components/LangChainSettings.vue
  app/src/renderer/stores/langchainStore.ts
  app/src/types/yaml.ts
  context-repo/pnpm-lock.yaml
  docs/langchain-enhancement-plan.md
  docs/langchain-poc-testing.md
Labels: app, context-repo, documentation, ci/cd, configuration, frontend, dependencies

fix: Update ci.yml for root-level pnpm-lock.yaml
  .github/workflows/ci.yml
  CODE_REVIEW_SUMMARY.md
  LANGCHAIN_STATUS.md
  PHASE_1_COMPLETE.md
  PHASE_2_COMPLETE.md
  PHASE_2_PROGRESS.md
  PHASE_2_VERIFICATION.md
  app/package-lock.json
  app/src/renderer/App.vue
  app/src/renderer/components/ContextBuilderModal.vue
  app/src/renderer/components/LangChainSettings.vue
  app/src/renderer/stores/langchainStore.ts
  app/src/types/yaml.ts
  context-repo/pnpm-lock.yaml
  docs/langchain-enhancement-plan.md
  docs/langchain-poc-testing.md
Labels: app, context-repo, documentation, ci/cd, configuration, frontend, dependencies

feat: add LangChain POC + RAG/embeddings improvements, diagnostics, IPC/UI integration, and docs
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  app/scripts/README.md
  app/scripts/diagnose-embedding.mjs
  app/src/main/ipc/handlers/ai.handlers.ts
  app/src/main/ipc/handlers/langchain-ai.handlers.ts
  app/src/main/ipc/handlers/rag.handlers.ts
  app/src/main/ipc/handlers/repo.handlers.ts
  app/src/main/preload.ts
  app/src/main/services/AIService.ts
  app/src/main/services/ContextEmbeddingService.ts
  app/src/main/services/ContextRAGService.ts
  app/src/main/services/LangChainAIService.ts
  app/src/renderer/components/AIAssistantPanel.vue
  app/src/renderer/components/LangChainSettings.vue
  app/src/renderer/stores/aiStore.ts
  app/src/renderer/stores/langchainStore.ts
  app/src/renderer/stores/snackbarStore.ts
  docs/CICD-SUMMARY.md
  docs/CODE_REVIEW_SUMMARY.md
  docs/PHASE_1_COMPLETE.md
  docs/PHASE_2_COMPLETE.md
  docs/PHASE_2_PROGRESS.md
  docs/PHASE_2_VERIFICATION.md
Labels: app, documentation, ci/cd, configuration, frontend, backend

feat: add LangChain POC + RAG/embeddings improvements, diagnostics, IPC/UI integration, and docs
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  app/scripts/README.md
  app/scripts/diagnose-embedding.mjs
  app/src/main/ipc/handlers/ai.handlers.ts
  app/src/main/ipc/handlers/langchain-ai.handlers.ts
  app/src/main/ipc/handlers/rag.handlers.ts
  app/src/main/ipc/handlers/repo.handlers.ts
  app/src/main/preload.ts
  app/src/main/services/AIService.ts
  app/src/main/services/ContextEmbeddingService.ts
  app/src/main/services/ContextRAGService.ts
  app/src/main/services/LangChainAIService.ts
  app/src/renderer/components/AIAssistantPanel.vue
  app/src/renderer/components/LangChainSettings.vue
  app/src/renderer/stores/aiStore.ts
  app/src/renderer/stores/langchainStore.ts
  app/src/renderer/stores/snackbarStore.ts
  docs/CICD-SUMMARY.md
  docs/CODE_REVIEW_SUMMARY.md
  docs/PHASE_1_COMPLETE.md
  docs/PHASE_2_COMPLETE.md
  docs/PHASE_2_PROGRESS.md
  docs/PHASE_2_VERIFICATION.md
Labels: app, documentation, ci/cd, configuration, frontend, backend

Potential fix for code scanning alert no. 158: Unused variable, import, function or class
  app/scripts/diagnose-embedding.mjs
Labels: app

Potential fix for code scanning alert no. 158: Unused variable, import, function or class
  app/scripts/diagnose-embedding.mjs
Labels: app

feat: Unify AI credential resolution across services
  app/src/main/ipc/handlers/langchain-ai.handlers.ts
  app/src/main/services/AICredentialResolver.ts
  app/src/main/services/AIService.ts
  app/src/main/services/LangChainAIService.ts
  app/tests/services/AICredentialResolver.spec.ts
  docs/ai-credential-unification.md
Labels: app, documentation, tests, backend

feat: Unify AI credential resolution across services
  app/src/main/ipc/handlers/langchain-ai.handlers.ts
  app/src/main/services/AICredentialResolver.ts
  app/src/main/services/AIService.ts
  app/src/main/services/LangChainAIService.ts
  app/tests/services/AICredentialResolver.spec.ts
  docs/ai-credential-unification.md
Labels: app, documentation, tests, backend

fix: Use correct Azure OpenAI API key header in LangChain
  app/src/main/services/LangChainAIService.ts
Labels: app, backend

fix: Use correct Azure OpenAI API key header in LangChain
  app/src/main/services/LangChainAIService.ts
Labels: app, backend

fix: Check explicit API key in assistStream before validation
  app/src/main/services/LangChainAIService.ts
Labels: app, backend

fix: Check explicit API key in assistStream before validation
  app/src/main/services/LangChainAIService.ts
Labels: app, backend

debug: Add comprehensive logging to trace credential flow
  app/src/main/ipc/handlers/langchain-ai.handlers.ts
  app/src/main/services/AICredentialResolver.ts
  app/src/main/services/LangChainAIService.ts
Labels: app, backend

debug: Add comprehensive logging to trace credential flow
  app/src/main/ipc/handlers/langchain-ai.handlers.ts
  app/src/main/services/AICredentialResolver.ts
  app/src/main/services/LangChainAIService.ts
Labels: app, backend

feat: Add Ollama embedding model support and remove USE_LANGCHAIN env check
  app/src/main/ipc/handlers/rag.handlers.ts
  app/src/main/services/ContextEmbeddingService.ts
Labels: app, backend

feat: Add Ollama embedding model support and remove USE_LANGCHAIN env check
  app/src/main/ipc/handlers/rag.handlers.ts
  app/src/main/services/ContextEmbeddingService.ts
Labels: app, backend

fix: Use text-embedding-ada-002 as default for Azure OpenAI
  app/src/main/services/ContextEmbeddingService.ts
Labels: app, backend

fix: Use text-embedding-ada-002 as default for Azure OpenAI
  app/src/main/services/ContextEmbeddingService.ts
Labels: app, backend

refactor: Consolidate AI handlers and remove duplicate registrations
  CONSOLIDATION_COMPLETE.md
  LANGCHAIN_CONSOLIDATION.md
  app/index.html
  app/src/main/index.ts
  app/src/main/ipc/handlers/ai.handlers.ts
  app/src/main/ipc/handlers/langchain-ai.handlers.ts
  app/src/main/ipc/register.ts
  app/src/main/preload.ts
  app/src/main/services/LangChainAIService.ts
  context-repo/.context/ai-config.json
  docs/PER_PROVIDER_CONFIG.md
Labels: app, context-repo, documentation, configuration, backend

refactor: Consolidate AI handlers and remove duplicate registrations
  CONSOLIDATION_COMPLETE.md
  LANGCHAIN_CONSOLIDATION.md
  app/index.html
  app/src/main/index.ts
  app/src/main/ipc/handlers/ai.handlers.ts
  app/src/main/ipc/handlers/langchain-ai.handlers.ts
  app/src/main/ipc/register.ts
  app/src/main/preload.ts
  app/src/main/services/LangChainAIService.ts
  context-repo/.context/ai-config.json
  docs/PER_PROVIDER_CONFIG.md
Labels: app, context-repo, documentation, configuration, backend

security: Fix TOCTOU race condition in file write operation
  app/src/main/ipc/handlers/ai.handlers.ts
Labels: app, backend

security: Fix TOCTOU race condition in file write operation
  app/src/main/ipc/handlers/ai.handlers.ts
Labels: app, backend

feat: Add enterprise-grade enhanced LangChain AI features
  app/package.json
  app/src/main/ipc/handlers/langchain-ai.handlers.ts
  app/src/main/services/EnhancedLangChainService.ts
  app/src/main/services/LangChainAIService.ts
  app/src/renderer/components/AISettingsModal.vue
  pnpm-lock.yaml
Labels: app, configuration, frontend, backend, dependencies

feat: Add enterprise-grade enhanced LangChain AI features
  app/package.json
  app/src/main/ipc/handlers/langchain-ai.handlers.ts
  app/src/main/services/EnhancedLangChainService.ts
  app/src/main/services/LangChainAIService.ts
  app/src/renderer/components/AISettingsModal.vue
  pnpm-lock.yaml
Labels: app, configuration, frontend, backend, dependencies

docs: Add PR template for enhanced features
  .github/pr-body.md
Labels: documentation

docs: Add PR template for enhanced features
  .github/pr-body.md
Labels: documentation

fix: Add required apiKey parameter to Azure OpenAI ChatOpenAI constructor
  app/src/main/services/LangChainAIService.ts
Labels: app, backend

fix: Add required apiKey parameter to Azure OpenAI ChatOpenAI constructor
  app/src/main/services/LangChainAIService.ts
Labels: app, backend

fix: Use correct Azure OpenAI API version to resolve timeout issues
  app/src/main/services/LangChainAIService.ts
Labels: app, backend

fix: Use correct Azure OpenAI API version to resolve timeout issues
  app/src/main/services/LangChainAIService.ts
Labels: app, backend

fix: Remove conflicting apiKey parameter for Azure OpenAI
  app/src/main/services/LangChainAIService.ts
Labels: app, backend

fix: Remove conflicting apiKey parameter for Azure OpenAI
  app/src/main/services/LangChainAIService.ts
Labels: app, backend

.github/labeler.yml:

# Label PRs based on changed files
# Configuration for actions/labeler@v5

app:
- changed-files:
  - any-glob-to-any-file: 'app/**'

context-repo:
- changed-files:
  - any-glob-to-any-file: 'context-repo/**'

documentation:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - 'docs/**'

'ci/cd':
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**'
    - '.github/**/*.yml'

configuration:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.json'
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.config.*'
    - '**/tsconfig*.json'
    - '**/.eslintrc*'
    - '**/package.json'

tests:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.test.*'
    - '**/*.spec.*'
    - 'app/tests/**'
    - 'app/e2e/**'

frontend:
- changed-files:
  - any-glob-to-any-file:
    - 'app/src/renderer/**'
    - '**/*.vue'
    - '**/*.css'

backend:
- changed-files:
  - any-glob-to-any-file:
    - 'app/src/main/**'
    - 'app/src/preload/**'

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - '**/package.json'
    - '**/pnpm-lock.yaml'
