Repository Lukeus/my-context-kit, changes with the labels that .github/labeler.yml gives for each.
All labels: app, context-repo, documentation, ci/cd, configuration, tests, frontend, backend, dependencies

.github/labeler.yml:

# Label PRs based on changed files
# Configuration for actions/labeler@v5

app:
- changed-files:
  - any-glob-to-any-file: 'app/**'

context-repo:
- changed-files:
  - any-glob-to-any-file: 'context-repo/**'

documentation:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - 'docs/**'

'ci/cd':
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**'
    - '.github/**/*.yml'

configuration:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.json'
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.config.*'
    - '**/tsconfig*.json'
    - '**/.eslintrc*'
    - '**/package.json'

tests:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.test.*'
    - '**/*.spec.*'
    - 'app/tests/**'
    - 'app/e2e/**'

frontend:
- changed-files:
  - any-glob-to-any-file:
    - 'app/src/renderer/**'
    - '**/*.vue'
    - '**/*.css'

backend:
- changed-files:
  - any-glob-to-any-file:
    - 'app/src/main/**'
    - 'app/src/preload/**'

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - '**/package.json'
    - '**/pnpm-lock.yaml'

feat: Phase 3 - Implement application layer with use cases, ports, and DTOs
  context-kit-service/src/context_kit_service/application/__init__.py
  context-kit-service/src/context_kit_service/application/dtos/__init__.py
  context-kit-service/src/context_kit_service/application/dtos/session_dto.py
  context-kit-service/src/context_kit_service/application/dtos/task_dto.py
  context-kit-service/src/context_kit_service/application/ports/__init__.py
  context-kit-service/src/context_kit_service/application/ports/ai_service_port.py
  context-kit-service/src/context_kit_service/application/use_cases/__init__.py
  context-kit-service/src/context_kit_service/application/use_cases/create_session.py
  context-kit-service/src/context_kit_service/application/use_cases/send_message.py
  context-kit-service/tests/test_application.py
Labels: none

feat: Phase 3 - Implement application layer with use cases, ports, and DTOs
  context-kit-service/src/context_kit_service/application/__init__.py
  context-kit-service/src/context_kit_service/application/dtos/__init__.py
  context-kit-service/src/context_kit_service/application/dtos/session_dto.py
  context-kit-service/src/context_kit_service/application/dtos/task_dto.py
  context-kit-service/src/context_kit_service/application/ports/__init__.py
  context-kit-service/src/context_kit_service/application/ports/ai_service_port.py
  context-kit-service/src/context_kit_service/application/use_cases/__init__.py
  context-kit-service/src/context_kit_service/application/use_cases/create_session.py
  context-kit-service/src/context_kit_service/application/use_cases/send_message.py
  context-kit-service/tests/test_application.py
Labels: none

feat: Phase 4 - Implement infrastructure layer with repositories and AI adapter
  context-kit-service/PHASE_3_COMPLETE.md
  context-kit-service/pyproject.toml
  context-kit-service/src/context_kit_service/infrastructure/ai/__init__.py
  context-kit-service/src/context_kit_service/infrastructure/ai/langchain_adapter.py
  context-kit-service/src/context_kit_service/infrastructure/persistence/__init__.py
  context-kit-service/src/context_kit_service/infrastructure/persistence/in_memory_repository.py
  context-kit-service/src/context_kit_service/infrastructure/persistence/redis_repository.py
  context-kit-service/src/context_kit_service/infrastructure/persistence/repository_factory.py
  context-kit-service/tests/__pycache__/test_api.cpython-311-pytest-8.4.2.pyc
  context-kit-service/tests/__pycache__/test_e2e_pipeline.cpython-311-pytest-8.4.2.pyc
  context-kit-service/tests/test_infrastructure.py
  context-kit-service/uv.lock
Labels: documentation

feat: Phase 4 - Implement infrastructure layer with repositories and AI adapter
  context-kit-service/PHASE_3_COMPLETE.md
  context-kit-service/pyproject.toml
  context-kit-service/src/context_kit_service/infrastructure/ai/__init__.py
  context-kit-service/src/context_kit_service/infrastructure/ai/langchain_adapter.py
  context-kit-service/src/context_kit_service/infrastructure/persistence/__init__.py
  context-kit-service/src/context_kit_service/infrastructure/persistence/in_memory_repository.py
  context-kit-service/src/context_kit_service/infrastructure/persistence/redis_repository.py
  context-kit-service/src/context_kit_service/infrastructure/persistence/repository_factory.py
  context-kit-service/tests/__pycache__/test_api.cpython-311-pytest-8.4.2.pyc
  context-kit-service/tests/__pycache__/test_e2e_pipeline.cpython-311-pytest-8.4.2.pyc
  context-kit-service/tests/test_infrastructure.py
  context-kit-service/uv.lock
Labels: documentation

feat: Phase 5 - Implement presentation layer with FastAPI routes and dependency injection
  context-kit-service/PHASE_4_COMPLETE.md
  context-kit-service/src/context_kit_service/presentation/__init__.py
  context-kit-service/src/context_kit_service/presentation/api/__init__.py
  context-kit-service/src/context_kit_service/presentation/api/dependencies.py
  context-kit-service/src/context_kit_service/presentation/api/v1/__init__.py
  context-kit-service/src/context_kit_service/presentation/api/v1/routes/__init__.py
  context-kit-service/src/context_kit_service/presentation/api/v1/routes/sessions.py
  context-kit-service/src/context_kit_service/presentation/api/v1/schemas/__init__.py
  context-kit-service/src/context_kit_service/presentation/api/v1/schemas/session_schemas.py
  context-kit-service/src/context_kit_service/presentation/mappers/__init__.py
  context-kit-service/src/context_kit_service/presentation/mappers/session_mapper.py
  context-kit-service/tests/test_presentation.py
Labels: documentation

feat: Phase 5 - Implement presentation layer with FastAPI routes and dependency injection
  context-kit-service/PHASE_4_COMPLETE.md
  context-kit-service/src/context_kit_service/presentation/__init__.py
  context-kit-service/src/context_kit_service/presentation/api/__init__.py
  context-kit-service/src/context_kit_service/presentation/api/dependencies.py
  context-kit-service/src/context_kit_service/presentation/api/v1/__init__.py
  context-kit-service/src/context_kit_service/presentation/api/v1/routes/__init__.py
  context-kit-service/src/context_kit_service/presentation/api/v1/routes/sessions.py
  context-kit-service/src/context_kit_service/presentation/api/v1/schemas/__init__.py
  context-kit-service/src/context_kit_service/presentation/api/v1/schemas/session_schemas.py
  context-kit-service/src/context_kit_service/presentation/mappers/__init__.py
  context-kit-service/src/context_kit_service/presentation/mappers/session_mapper.py
  context-kit-service/tests/test_presentation.py
Labels: documentation

docs: Add Phase 5 completion documentation for clean architecture refactor
  context-kit-service/PHASE_5_COMPLETE.md
Labels: documentation

docs: Add Phase 5 completion documentation for clean architecture refactor
  context-kit-service/PHASE_5_COMPLETE.md
Labels: documentation

updated packages
  pnpm-lock.yaml
Labels: configuration, dependencies

updated packages
  pnpm-lock.yaml
Labels: configuration, dependencies

feat: e2e test cleanup
  app/e2e/assistant-capabilities.spec.ts
  app/e2e/hashtag-commands.spec.ts
  app/e2e/sdd-workflow.spec.ts
  app/src/renderer/components/assistant/CommandSuggestionList.vue
  app/src/renderer/components/assistant/MessageComposer.vue
  app/src/renderer/components/assistant/TranscriptView.vue
  app/src/renderer/components/assistant/UnifiedAssistant.vue
  app/src/renderer/services/assistant/hashtagCommands.test.ts
  app/src/renderer/services/assistant/hashtagCommands.ts
  app/tsconfig.base.json
Labels: app, configuration, tests, frontend

feat: e2e test cleanup
  app/e2e/assistant-capabilities.spec.ts
  app/e2e/hashtag-commands.spec.ts
  app/e2e/sdd-workflow.spec.ts
  app/src/renderer/components/assistant/CommandSuggestionList.vue
  app/src/renderer/components/assistant/MessageComposer.vue
  app/src/renderer/components/assistant/TranscriptView.vue
  app/src/renderer/components/assistant/UnifiedAssistant.vue
  app/src/renderer/services/assistant/hashtagCommands.test.ts
  app/src/renderer/services/assistant/hashtagCommands.ts
  app/tsconfig.base.json
Labels: app, configuration, tests, frontend

Potential fix for code scanning alert no. 235: Unused variable, import, function or class
  app/e2e/hashtag-commands.spec.ts
Labels: app, tests

Potential fix for code scanning alert no. 235: Unused variable, import, function or class
  app/e2e/hashtag-commands.spec.ts
Labels: app, tests

feat:Enterprise repo
  app/PHASE1_NEXT_STEPS.md
  app/PHASE2_STATUS.md
  app/PHASE3_STATUS.md
  app/REFACTORING_STATUS.md
  app/constitution.md
  app/domain/enterprise/ConstitutionMerger.ts
  app/domain/prompts/PromptRegistry.ts
  app/e2e/hashtag-commands.spec.ts
  app/enterprise/prompts/derive-spec.md
  app/src/main/ipc/handlers/enterprise.handlers.ts
  app/src/main/ipc/register.ts
  app/src/main/preload.ts
  app/src/main/services/AIService.ts
  app/src/main/services/EnterpriseService.ts
  app/src/main/services/GitHubService.ts
  app/src/main/services/GitService.ts
  app/src/main/services/assistantSessionManager.ts
  app/src/renderer/App.vue
  app/src/renderer/components/ConstitutionViewer.vue
  app/src/renderer/components/DeveloperHub.vue
  app/src/renderer/components/EnterpriseDashboard.vue
  app/src/renderer/components/EnterpriseSettings.vue
  app/src/renderer/components/assistant/UnifiedAssistant.vue
  app/src/renderer/config/routes.ts
  app/src/renderer/router/index.ts
  app/src/renderer/services/ipcClient.ts
  app/src/renderer/services/langchain/client.ts
  app/src/renderer/stores/assistantStore.ts
  app/src/renderer/stores/enterpriseStore.ts
  app/src/types/enterprise.ts
Labels: app, documentation, tests, frontend, backend

feat:Enterprise repo
  app/PHASE1_NEXT_STEPS.md
  app/PHASE2_STATUS.md
  app/PHASE3_STATUS.md
  app/REFACTORING_STATUS.md
  app/constitution.md
  app/domain/enterprise/ConstitutionMerger.ts
  app/domain/prompts/PromptRegistry.ts
  app/e2e/hashtag-commands.spec.ts
  app/enterprise/prompts/derive-spec.md
  app/src/main/ipc/handlers/enterprise.handlers.ts
  app/src/main/ipc/register.ts
  app/src/main/preload.ts
  app/src/main/services/AIService.ts
  app/src/main/services/EnterpriseService.ts
  app/src/main/services/GitHubService.ts
  app/src/main/services/GitService.ts
  app/src/main/services/assistantSessionManager.ts
  app/src/renderer/App.vue
  app/src/renderer/components/ConstitutionViewer.vue
  app/src/renderer/components/DeveloperHub.vue
  app/src/renderer/components/EnterpriseDashboard.vue
  app/src/renderer/components/EnterpriseSettings.vue
  app/src/renderer/components/assistant/UnifiedAssistant.vue
  app/src/renderer/config/routes.ts
  app/src/renderer/router/index.ts
  app/src/renderer/services/ipcClient.ts
  app/src/renderer/services/langchain/client.ts
  app/src/renderer/stores/assistantStore.ts
  app/src/renderer/stores/enterpriseStore.ts
  app/src/types/enterprise.ts
Labels: app, documentation, tests, frontend, backend

feat: enterprise repo
  .github/copilot-instructions.md
  WARP.md
  context-kit-service/src/context_kit_service/__pycache__/main.cpython-311.pyc
  context-kit-service/src/context_kit_service/models/__pycache__/__init__.cpython-311.pyc
  context-kit-service/src/context_kit_service/services/__pycache__/__init__.cpython-311.pyc
  docs/CONSOLIDATION_COMPLETE.md
  docs/CONTEXT_KIT_STATUS.md
  docs/LANGCHAIN_CONSOLIDATION.md
  docs/LANGCHAIN_STATUS.md
  docs/README-SCRIPTS.md
  docs/TASK_COMPLETION_STATUS.md
  docs/UNIFIED_ASSISTANT_STATUS.md
Labels: documentation

feat: enterprise repo
  .github/copilot-instructions.md
  WARP.md
  context-kit-service/src/context_kit_service/__pycache__/main.cpython-311.pyc
  context-kit-service/src/context_kit_service/models/__pycache__/__init__.cpython-311.pyc
  context-kit-service/src/context_kit_service/services/__pycache__/__init__.cpython-311.pyc
  docs/CONSOLIDATION_COMPLETE.md
  docs/CONTEXT_KIT_STATUS.md
  docs/LANGCHAIN_CONSOLIDATION.md
  docs/LANGCHAIN_STATUS.md
  docs/README-SCRIPTS.md
  docs/TASK_COMPLETION_STATUS.md
  docs/UNIFIED_ASSISTANT_STATUS.md
Labels: documentation

Update app/domain/enterprise/ConstitutionMerger.ts
  app/domain/enterprise/ConstitutionMerger.ts
Labels: app

Update app/domain/enterprise/ConstitutionMerger.ts
  app/domain/enterprise/ConstitutionMerger.ts
Labels: app

Update app/src/renderer/components/ConstitutionViewer.vue
  app/src/renderer/components/ConstitutionViewer.vue
Labels: app, frontend

Update app/src/renderer/components/ConstitutionViewer.vue
  app/src/renderer/components/ConstitutionViewer.vue
Labels: app, frontend

fix: enhance error telemetry by formatting error messages with codes
  app/src/renderer/stores/assistantStore.ts
Labels: app, frontend

fix: enhance error telemetry by formatting error messages with codes
  .github/workflows/context-validate.yml
  .github/workflows/impact-analysis.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  app/src/renderer/stores/assistantStore.ts
Labels: app, ci/cd, configuration, frontend

Potential fix for code scanning alert no. 244: Expression has no effect
  app/src/renderer/components/assistant/MigrationControls.vue
Labels: app, frontend

Potential fix for code scanning alert no. 245: Unused variable, import, function or class
  app/src/main/ipc/handlers/assistant.handlers.ts
Labels: app, backend

Potential fix for code scanning alert no. 246: Unused variable, import, function or class
  app/src/main/utils/errorHandler.ts
Labels: app, backend

Potential fix for code scanning alert no. 247: Unused variable, import, function or class
  app/src/renderer/stores/assistantStore.ts
Labels: app, frontend

Potential fix for code scanning alert no. 249: Unused variable, import, function or class
  app/src/main/utils/errorHandler.ts
Labels: app, backend

Refactor code structure for improved readability and maintainability
  .github/dependabot.yml
  docs/WEB_MIGRATION_PLAN.md
  generated/perf/.gitkeep
  generated/perf/interaction.json
  generated/trace/coverage-matrix.json
  token-report.json
Labels: documentation, ci/cd, configuration
