Repository Lukeus/my-context-kit, changes with the labels that .github/labeler.yml gives for each.
All labels: app, context-repo, documentation, ci/cd, configuration, tests, frontend, backend, dependencies

.github/labeler.yml:

# Label PRs based on changed files
# Configuration for actions/labeler@v5

app:
- changed-files:
  - any-glob-to-any-file: 'app/**'

context-repo:
- changed-files:
  - any-glob-to-any-file: 'context-repo/**'

documentation:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.md'
    - 'docs/**'

'ci/cd':
- changed-files:
  - any-glob-to-any-file:
    - '.github/workflows/**'
    - '.github/**/*.yml'

configuration:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.json'
    - '**/*.yaml'
    - '**/*.yml'
    - '**/*.config.*'
    - '**/tsconfig*.json'
    - '**/.eslintrc*'
    - '**/package.json'

tests:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.test.*'
    - '**/*.spec.*'
    - 'app/tests/**'
    - 'app/e2e/**'

frontend:
- changed-files:
  - any-glob-to-any-file:
    - 'app/src/renderer/**'
    - '**/*.vue'
    - '**/*.css'

backend:
- changed-files:
  - any-glob-to-any-file:
    - 'app/src/main/**'
    - 'app/src/preload/**'

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - '**/package.json'
    - '**/pnpm-lock.yaml'

chore(ai): switch to Azure OpenAI and update embeddings; adjust packaging & lockfile
  .github/pr-body.md
  LANGCHAIN_STATUS.md
  app/RAG_TOOLS_INTEGRATION.md
  app/package.json
  app/src/main/ipc/handlers/ai.handlers.ts
  app/src/main/ipc/handlers/assistant.handlers.ts
  app/src/main/ipc/handlers/langchain-ai.handlers.ts
  app/src/main/ipc/handlers/rag.handlers.ts
  app/src/main/preload.ts
  app/src/main/scripts/ping-azure.cjs
  app/src/main/scripts/ping-azure.js
  app/src/main/services/AIService.ts
  app/src/main/services/ContextEmbeddingService.ts
  app/src/main/services/ContextRAGService.ts
  app/src/main/services/EnhancedLangChainService.ts
  app/src/main/services/LangChainAIService.ts
  app/src/main/services/convertToLangChainTools.ts
  app/src/main/services/ragToolDescriptors.ts
  app/src/main/services/toolOrchestrator.ts
  app/src/main/services/tools/findSimilarEntities.ts
  app/src/main/services/tools/getEntityDetails.ts
  app/src/main/services/tools/searchContextRepository.ts
  app/src/main/utils/proxyFetch.ts
  app/src/renderer/components/AISettingsModal.vue
  app/src/renderer/components/rag/RAGSourcesPanel.vue
  app/src/renderer/stores/aiStore.ts
  app/src/renderer/stores/ragStore.ts
  app/tests/services/assistantPipeline.spec.ts
  app/tests/services/assistantToolGuard.spec.ts
  context-repo/.context/.rag/vector-index.json
  context-repo/.context/ai-config.json
  context-repo/generated/prompts/FEAT-001.checklist.md
  context-repo/generated/prompts/FEAT-001.md
  docs/langchain-enhancement-plan.md
  package.json
  pnpm-lock.yaml
Labels: app, context-repo, documentation, configuration, tests, frontend, backend, dependencies

chore(ai): switch to Azure OpenAI and update embeddings; adjust packaging & lockfile
  .github/pr-body.md
  LANGCHAIN_STATUS.md
  app/RAG_TOOLS_INTEGRATION.md
  app/package.json
  app/src/main/ipc/handlers/ai.handlers.ts
  app/src/main/ipc/handlers/assistant.handlers.ts
  app/src/main/ipc/handlers/langchain-ai.handlers.ts
  app/src/main/ipc/handlers/rag.handlers.ts
  app/src/main/preload.ts
  app/src/main/scripts/ping-azure.cjs
  app/src/main/scripts/ping-azure.js
  app/src/main/services/AIService.ts
  app/src/main/services/ContextEmbeddingService.ts
  app/src/main/services/ContextRAGService.ts
  app/src/main/services/EnhancedLangChainService.ts
  app/src/main/services/LangChainAIService.ts
  app/src/main/services/convertToLangChainTools.ts
  app/src/main/services/ragToolDescriptors.ts
  app/src/main/services/toolOrchestrator.ts
  app/src/main/services/tools/findSimilarEntities.ts
  app/src/main/services/tools/getEntityDetails.ts
  app/src/main/services/tools/searchContextRepository.ts
  app/src/main/utils/proxyFetch.ts
  app/src/renderer/components/AISettingsModal.vue
  app/src/renderer/components/rag/RAGSourcesPanel.vue
  app/src/renderer/stores/aiStore.ts
  app/src/renderer/stores/ragStore.ts
  app/tests/services/assistantPipeline.spec.ts
  app/tests/services/assistantToolGuard.spec.ts
  context-repo/.context/.rag/vector-index.json
  context-repo/.context/ai-config.json
  context-repo/generated/prompts/FEAT-001.checklist.md
  context-repo/generated/prompts/FEAT-001.md
  docs/langchain-enhancement-plan.md
  package.json
  pnpm-lock.yaml
Labels: app, context-repo, documentation, configuration, tests, frontend, backend, dependencies

Potential fix for code scanning alert no. 162: Unused variable, import, function or class
  app/src/main/ipc/handlers/langchain-ai.handlers.ts
Labels: app, backend

Potential fix for code scanning alert no. 162: Unused variable, import, function or class
  app/src/main/ipc/handlers/langchain-ai.handlers.ts
Labels: app, backend

Potential fix for code scanning alert no. 163: Unused variable, import, function or class
  app/src/main/services/LangChainAIService.ts
Labels: app, backend

Potential fix for code scanning alert no. 163: Unused variable, import, function or class
  app/src/main/services/LangChainAIService.ts
Labels: app, backend

Potential fix for code scanning alert no. 165: Unused variable, import, function or class
  app/src/main/services/convertToLangChainTools.ts
Labels: app, backend

Potential fix for code scanning alert no. 165: Unused variable, import, function or class
  app/src/main/services/convertToLangChainTools.ts
Labels: app, backend

docs: add context kit system implementation plan
  docs/context-kit-system-implementation-plan.md
Labels: documentation

docs: add context kit system implementation plan
  docs/context-kit-system-implementation-plan.md
Labels: documentation

Add delivery specification for Context Kit plan
  docs/context-kit-system-delivery-spec.md
Labels: documentation

Add delivery specification for Context Kit plan
  docs/context-kit-system-delivery-spec.md
Labels: documentation

Document Material 3 UX and uv lifecycle for Context Kit
  docs/context-kit-system-delivery-spec.md
  docs/context-kit-system-implementation-plan.md
Labels: documentation

Document Material 3 UX and uv lifecycle for Context Kit
  docs/context-kit-system-delivery-spec.md
  docs/context-kit-system-implementation-plan.md
Labels: documentation

Add Context Kit planning references to WARP guide
  WARP.md
Labels: documentation

Add Context Kit planning references to WARP guide
  WARP.md
Labels: documentation

Potential fix for code scanning alert no. 176: Unused variable, import, function or class
  app/scripts/context-kit-migrate.ts
Labels: app

Potential fix for code scanning alert no. 176: Unused variable, import, function or class
  app/scripts/context-kit-migrate.ts
Labels: app

fix(security): resolve TOCTOU race conditions in file operations
  app/scripts/context-kit-migrate.ts
Labels: app

fix(security): resolve TOCTOU race conditions in file operations
  app/scripts/context-kit-migrate.ts
Labels: app

Potential fix for code scanning alert no. 177: Unused variable, import, function or class
  app/scripts/context-kit-migrate.ts
Labels: app

Potential fix for code scanning alert no. 177: Unused variable, import, function or class
  app/scripts/context-kit-migrate.ts
Labels: app

chore: add empty changeset placeholder
  .gitignore
  .specify/memory/constitution.md
  app/src/main/ipc/contextKitHandlers.ts
  app/src/main/services/ContextKitServiceClient.ts
  app/src/renderer/components/rag/RAGSettingsPanel.vue
  context-kit-service/package.json
  context-kit-service/src/context_kit_service/endpoints/codegen.py
  context-kit-service/src/context_kit_service/endpoints/inspect.py
  context-kit-service/src/context_kit_service/endpoints/promptify.py
  context-kit-service/src/context_kit_service/endpoints/spec.py
  context-kit-service/src/context_kit_service/services/code_generator.py
  context-kit-service/src/context_kit_service/services/spec_generator.py
  context-kit-service/tests/test_api.py
  context-kit-service/uv.lock
  context-repo/.context/.rag/vector-index.json
Labels: app, context-repo, documentation, configuration, frontend, backend, dependencies

chore: add empty changeset placeholder
  .gitignore
  .specify/memory/constitution.md
  app/src/main/ipc/contextKitHandlers.ts
  app/src/main/services/ContextKitServiceClient.ts
  app/src/renderer/components/rag/RAGSettingsPanel.vue
  context-kit-service/package.json
  context-kit-service/src/context_kit_service/endpoints/codegen.py
  context-kit-service/src/context_kit_service/endpoints/inspect.py
  context-kit-service/src/context_kit_service/endpoints/promptify.py
  context-kit-service/src/context_kit_service/endpoints/spec.py
  context-kit-service/src/context_kit_service/services/code_generator.py
  context-kit-service/src/context_kit_service/services/spec_generator.py
  context-kit-service/tests/test_api.py
  context-kit-service/uv.lock
  context-repo/.context/.rag/vector-index.json
Labels: app, context-repo, documentation, configuration, frontend, backend, dependencies

refactor(service): modernize typings, clean imports, async import & promise handling
  app/src/main/services/assistantSessionManager.ts
  app/src/renderer/services/assistant/migrationAdapter.ts
  app/src/renderer/services/assistant/toolInvoker.ts
  context-kit-service/src/context_kit_service/endpoints/assistant.py
  context-kit-service/src/context_kit_service/endpoints/codegen.py
  context-kit-service/src/context_kit_service/endpoints/inspect.py
  context-kit-service/src/context_kit_service/endpoints/promptify.py
  context-kit-service/src/context_kit_service/endpoints/spec.py
  context-kit-service/src/context_kit_service/main.py
  context-kit-service/src/context_kit_service/models/assistant.py
  context-kit-service/src/context_kit_service/services/assistant_session_manager.py
  context-kit-service/src/context_kit_service/services/code_generator.py
  context-kit-service/src/context_kit_service/services/context_file_reader.py
  context-kit-service/src/context_kit_service/services/langchain_agent.py
  context-kit-service/src/context_kit_service/services/pipeline_executor.py
  context-kit-service/src/context_kit_service/services/spec_generator.py
  context-kit-service/src/context_kit_service/services/tools/context_tools.py
  context-kit-service/src/context_kit_service/services/tools/pipeline_tools.py
  context-kit-service/src/context_kit_service/services/tools/registry.py
Labels: app, frontend, backend

refactor(service): modernize typings, clean imports, async import & promise handling
  app/src/main/services/assistantSessionManager.ts
  app/src/renderer/services/assistant/migrationAdapter.ts
  app/src/renderer/services/assistant/toolInvoker.ts
  context-kit-service/src/context_kit_service/endpoints/assistant.py
  context-kit-service/src/context_kit_service/endpoints/codegen.py
  context-kit-service/src/context_kit_service/endpoints/inspect.py
  context-kit-service/src/context_kit_service/endpoints/promptify.py
  context-kit-service/src/context_kit_service/endpoints/spec.py
  context-kit-service/src/context_kit_service/main.py
  context-kit-service/src/context_kit_service/models/assistant.py
  context-kit-service/src/context_kit_service/services/assistant_session_manager.py
  context-kit-service/src/context_kit_service/services/code_generator.py
  context-kit-service/src/context_kit_service/services/context_file_reader.py
  context-kit-service/src/context_kit_service/services/langchain_agent.py
  context-kit-service/src/context_kit_service/services/pipeline_executor.py
  context-kit-service/src/context_kit_service/services/spec_generator.py
  context-kit-service/src/context_kit_service/services/tools/context_tools.py
  context-kit-service/src/context_kit_service/services/tools/pipeline_tools.py
  context-kit-service/src/context_kit_service/services/tools/registry.py
Labels: app, frontend, backend

feat(shared): add shared UI primitives + docs
  app/src/renderer/components/shared/AppLayout.vue
  app/src/renderer/components/shared/BaseAlert.vue
  app/src/renderer/components/shared/BaseBadge.vue
  app/src/renderer/components/shared/BaseButton.vue
  app/src/renderer/components/shared/BaseCard.vue
  app/src/renderer/components/shared/BaseModal.vue
  app/src/renderer/components/shared/index.ts
  docs/CODE_REVIEW_COMPONENT_REUSABILITY.md
  docs/COMPONENT_MIGRATION_GUIDE.md
  docs/COMPONENT_REFACTORING_CHECKLIST.md
  docs/COMPONENT_REVIEW_SUMMARY.md
Labels: app, documentation, frontend

feat(shared): add shared UI primitives + docs
  app/src/renderer/components/shared/AppLayout.vue
  app/src/renderer/components/shared/BaseAlert.vue
  app/src/renderer/components/shared/BaseBadge.vue
  app/src/renderer/components/shared/BaseButton.vue
  app/src/renderer/components/shared/BaseCard.vue
  app/src/renderer/components/shared/BaseModal.vue
  app/src/renderer/components/shared/index.ts
  docs/CODE_REVIEW_COMPONENT_REUSABILITY.md
  docs/COMPONENT_MIGRATION_GUIDE.md
  docs/COMPONENT_REFACTORING_CHECKLIST.md
  docs/COMPONENT_REVIEW_SUMMARY.md
Labels: app, documentation, frontend

feat(assistant): add gating artifact support, UI badge, IPC + store integration
  app/src/main/ipc/handlers/assistant.handlers.ts
  app/src/main/preload.ts
  app/src/preload/assistantBridge.ts
  app/src/renderer/components/assistant/GatingStatusBadge.vue
  app/src/renderer/components/assistant/UnifiedAssistant.vue
  app/src/renderer/stores/assistantStore.ts
  app/src/shared/assistant/types.ts
  context-repo/c4/tool-invocation-sequence.md
Labels: app, context-repo, documentation, frontend, backend

feat(assistant): add gating artifact support, UI badge, IPC + store integration
  app/src/main/ipc/handlers/assistant.handlers.ts
  app/src/main/preload.ts
  app/src/preload/assistantBridge.ts
  app/src/renderer/components/assistant/GatingStatusBadge.vue
  app/src/renderer/components/assistant/UnifiedAssistant.vue
  app/src/renderer/stores/assistantStore.ts
  app/src/shared/assistant/types.ts
  context-repo/c4/tool-invocation-sequence.md
Labels: app, context-repo, documentation, frontend, backend

feat(assistant): deprecate legacy AIAssistantModal, add ModalHeader and scaffolding for sidecar/unified assistant
  README-SCRIPTS.md
  app/scripts/metrics/README.md
  app/scripts/metrics/component-loc-check.ts
  app/scripts/perf/README.md
  app/scripts/perf/transcript-harness.ts
  app/src/renderer/components/AIAssistantModal.vue
  app/src/renderer/components/assistant/AgentSelector.vue
  app/src/renderer/components/shared/BaseAlert.vue
  app/src/renderer/components/shared/BaseBadge.vue
  app/src/renderer/components/shared/BaseButton.vue
  app/src/renderer/components/shared/BaseModal.vue
  app/src/renderer/components/shared/ModalHeader.vue
  app/src/renderer/components/shared/index.ts
  app/src/renderer/services/assistant/atomicInvariants.ts
  app/src/renderer/services/assistant/index.ts
  app/src/renderer/services/assistant/promptSanitizer.ts
  app/src/renderer/services/assistant/timeoutError.ts
  app/src/renderer/services/assistant/toolClassification.ts
  app/src/renderer/services/assistant/toolInvoker.ts
  app/src/renderer/stores/contextTreeStore.ts
  context-repo/.context/pipelines/build-embeddings.mjs
  context-repo/c4/component-sync.md
  context-repo/c4/context-sync-mvp.md
  scripts/ci/README.md
  scripts/ci/run-gates.ts
  specs/001-assistant-sidecar-unify/data-model.md
  specs/001-assistant-sidecar-unify/plan.md
  specs/001-assistant-sidecar-unify/spec.md
  specs/001-assistant-sidecar-unify/tasks.md
Labels: app, context-repo, documentation, frontend

feat(assistant): deprecate legacy AIAssistantModal, add ModalHeader and scaffolding for sidecar/unified assistant
  README-SCRIPTS.md
  app/scripts/metrics/README.md
  app/scripts/metrics/component-loc-check.ts
  app/scripts/perf/README.md
  app/scripts/perf/transcript-harness.ts
  app/src/renderer/components/AIAssistantModal.vue
  app/src/renderer/components/assistant/AgentSelector.vue
  app/src/renderer/components/shared/BaseAlert.vue
  app/src/renderer/components/shared/BaseBadge.vue
  app/src/renderer/components/shared/BaseButton.vue
  app/src/renderer/components/shared/BaseModal.vue
  app/src/renderer/components/shared/ModalHeader.vue
  app/src/renderer/components/shared/index.ts
  app/src/renderer/services/assistant/atomicInvariants.ts
  app/src/renderer/services/assistant/index.ts
  app/src/renderer/services/assistant/promptSanitizer.ts
  app/src/renderer/services/assistant/timeoutError.ts
  app/src/renderer/services/assistant/toolClassification.ts
  app/src/renderer/services/assistant/toolInvoker.ts
  app/src/renderer/stores/contextTreeStore.ts
  context-repo/.context/pipelines/build-embeddings.mjs
  context-repo/c4/component-sync.md
  context-repo/c4/context-sync-mvp.md
  scripts/ci/README.md
  scripts/ci/run-gates.ts
  specs/001-assistant-sidecar-unify/data-model.md
  specs/001-assistant-sidecar-unify/plan.md
  specs/001-assistant-sidecar-unify/spec.md
  specs/001-assistant-sidecar-unify/tasks.md
Labels: app, context-repo, documentation, frontend

fix(assistant): close "View Controls" comment and remove duplicated attrs on refresh button
  app/src/renderer/components/assistant/UnifiedAssistant.vue
Labels: app, frontend

fix(assistant): close "View Controls" comment and remove duplicated attrs on refresh button
  app/src/renderer/components/assistant/UnifiedAssistant.vue
Labels: app, frontend

Potential fix for code scanning alert no. 221: Useless assignment to local variable
  app/src/renderer/stores/assistantStore.ts
Labels: app, frontend

Potential fix for code scanning alert no. 221: Useless assignment to local variable
  app/src/renderer/stores/assistantStore.ts
Labels: app, frontend

docs: Add Phase 1 completion summary
  context-kit-service/PHASE_1_COMPLETE.md
Labels: documentation

docs: Add Phase 1 completion summary
  context-kit-service/PHASE_1_COMPLETE.md
Labels: documentation

feat: Phase 2 - Implement domain layer with entities and value objects
  context-kit-service/src/context_kit_service/domain/__init__.py
  context-kit-service/src/context_kit_service/domain/entities/__init__.py
  context-kit-service/src/context_kit_service/domain/entities/message.py
  context-kit-service/src/context_kit_service/domain/entities/session.py
  context-kit-service/src/context_kit_service/domain/entities/task.py
  context-kit-service/src/context_kit_service/domain/repositories/__init__.py
  context-kit-service/src/context_kit_service/domain/repositories/session_repository.py
  context-kit-service/src/context_kit_service/domain/value_objects/__init__.py
  context-kit-service/src/context_kit_service/domain/value_objects/provider_config.py
  context-kit-service/src/context_kit_service/domain/value_objects/session_id.py
  context-kit-service/src/context_kit_service/domain/value_objects/task_status.py
  context-kit-service/tests/test_domain.py
Labels: none

feat: Phase 2 - Implement domain layer with entities and value objects
  context-kit-service/src/context_kit_service/domain/__init__.py
  context-kit-service/src/context_kit_service/domain/entities/__init__.py
  context-kit-service/src/context_kit_service/domain/entities/message.py
  context-kit-service/src/context_kit_service/domain/entities/session.py
  context-kit-service/src/context_kit_service/domain/entities/task.py
  context-kit-service/src/context_kit_service/domain/repositories/__init__.py
  context-kit-service/src/context_kit_service/domain/repositories/session_repository.py
  context-kit-service/src/context_kit_service/domain/value_objects/__init__.py
  context-kit-service/src/context_kit_service/domain/value_objects/provider_config.py
  context-kit-service/src/context_kit_service/domain/value_objects/session_id.py
  context-kit-service/src/context_kit_service/domain/value_objects/task_status.py
  context-kit-service/tests/test_domain.py
Labels: none
